---

---

<div class="circle">
  <img src="/user.webp" alt="Foto animada de un progrador" />
</div>

<style>
  .circle {
    position: relative;
    background-color: var(--color-solid-cards);
    border-radius: 50% 50% 11% 11%;
    width: 411px;
    height: 411px;
    z-index: 0;

    .user {
      width: 411px;
      height: 411px;
      position: absolute;
      top: -60px;
      left: 0px;
    }
  }
</style>
