---
import Header from "@/section/header.astro";
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
  
</html>


<style is:global>
  :root[data-theme="dark"] {
    color-scheme: dark;
  }
  :root[data-theme="light"] {
    color-scheme: light;
  }
  :root[data-theme="system"] {
    color-scheme: light dark;
  }
  :root {
    --background-primary: light-dark(#fcfcfd, #111113);
    --background-secundary: light-dark(#ceffcd, #152c15);
    --background-linea: light-dark(#f1fdf1, #121b12);
    --hover-interaction: light-dark(#adffac, #103d13);
    --Borders-separators: light-dark(#6dd86f, #1d6c24);
    --Borders-separators-shadow: light-dark(#cdced7, #46484f);
    --color-solid-cards: light-dark( #00b920,#226425);
    --text: light-dark(#1e1f24, #eeeef0);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: "Onest Variable", sans-serif;
  }

  body {
    background: linear-gradient(
      0deg,
      var(--background-primary) 0%,
      var(--background-linea) 70%,
      var(--background-secundary) 90%
    );
    height: 100dvh;
    width: 100dvw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  a{
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
</style>
